.counter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(101, 183, 211);
    margin: 1rem;
    height: 180px;
    width: 170px;
    ;
    border-radius: 2px;
    background: white;
    text-align: center
    ;
}

.masMenos {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

